/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* VARIABLES *//* #region */
:root {
    --primary: white;
    --secondary: #AF0808;
    --background: #1F1F1F;
}
/* #endregion */

/* MAJOR SELECTORS *//* #region */
*,
*::before,
*::after {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html,
body,
.wrapper {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('./Images/Lil-Chef.jpg');
    width: 100vw;
    height: 100vh;
    /*background does not repeat and content scroll*/
    background-size: cover;
    background-attachment: fixed;
    font-family: sans-serif;
    background-color: var(--background);
}

.wrapper {
    padding: 0px 20px;
}

.overlay {
    pointer-events: none;
}

main {
    display: relative;
}
/* #endregion */

.ingredient-grid {
    column-count: 2;
    column-gap: 40px;
    column-rule-style: solid;

}

/* * HEADER *//* #region */
header {
    text-align: center;
    color: var(--primary);
    font-size: 40px;
}

header h1 {
    margin: 20px;
}
/* #endregion */

#search-box {
    background-color: #272525;
    border-radius: 5px;
    border-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
    color: var(--primary);
    font-size: 18px;
    margin: 20px auto;
    max-width: 800px;
    padding: 30px 40px;
    text-align: center;
}

/* * #INGREDIENTS-MENU *//* #region */
#ingredients-menu {

}
/* #endregion */

/* * MODAL *//* #region */
.popup {
    width: 800px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: 0%;
    left: 50%;
    transform: translate(-50%,50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    /* should cover the entirety of the 
    #ingredients-menu div and block 
    functionality of all buttons beneath it. 
    Look to the end of the file for it's default
    display value. For the final functioning version,
    display has to be set to 'none'*/
}

.open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

/* #endregion */

/* * .MENU *//* #region */
.menu {
    padding: 10px 60px;
    background-color: #272525;
    border-radius: 5px;
    border-width: 1px;
    /* box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px; */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    color: var(--primary);
    font-size: 22px;
    font-weight: 500;
    border-radius: 30px;
    outline: none;
    margin: 20px auto;
    max-width: 900px;
    padding: 30px 40px;
    text-align: center;
    /* cursor: pointer; */
    opacity: 0.8;

}
/* #endregion */

/* * .BTN *//* #region */
.btn,
.btn-2 {
    border: none;
    background-color: var(--secondary);
    border-radius: 20px;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px 0px; */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    color: hsl(0, 0%, 100%);
    font-size: 28px;
    margin: 8px 30px 2px;
    padding: 14px 20px;
    text-align: center;
    cursor: pointer;
    filter: brightness(0.6);
    transition: filter 0.4s ease;
}
  
.btn:hover,
.btn-2:hover {
    filter: brightness(1);
    transform: scale(1.15);
}

.btn:active,
.btn-2:active {
    transform: scale(0.8)
}

.btn:focus,
.btn-2:focus {
    outline-color: transparent;
    outline-style: solid;
    box-shadow: 0 0 0 4px white;
    filter: brightness(1);
}
  
.btn.selected,
.btn-2.selected {
    filter: brightness(1);
    border: 2px solid white;
    margin: 6px 16px 0px;
}

/* #endregion */


/* ! PAGE LOAD - BOTTOM OF THE FILE *//* #region */
#main-menu {
    display: block;
}

#ingredients-menu {
    display: none;
}

#new-recipes-menu {
    display: none;
}

#saved-recipes-menu {
    display: none;
}

#modal {
    display: none;
}
/* #endregion */
